#Secrets
.env

#Large files for vector computation
config-files/onepiece_clean.json
config-files/onepiece_dump.xml
config-files/onepiece_structured.json

#Vector-Store
chroma_db/

venv/
__pycache__/

#Categorical/Alternate Embedding files
config-files/unique_categories.json
config-files/cat-embedder-chroma.py
config-files/embedder-chroma.py
config-files/unique-cats.py
config-files/parser-cats.py

#Langchain version changes, pre-migration placeholder
app-downgraded.py
